<br>
<div *ngIf="!isLoading">
<p class="header">Registreeri siit uus kasutaja: </p>
<br><br>

<form (ngSubmit)="onSignUp(signupForm)" #signupForm="ngForm">
    <div class="form-group half">
        <label>Uue kasutaja e-mail:</label>
        <input
            ngModel 
            name="username"
            type="text" 
            class="form-control half" 
            id="username">    
    </div>
    <div class="form-group half">
        <label>Uue kasutaja parool:</label>
        <input 
            ngModel 
            name="password"
            type="text" 
            class="form-control half" 
            id="password">    
    </div>
    <br>
    <button 
            [disabled]="false" 
            class="btn btn-dti mt-3">SISESTA</button>
</form>
</div>
<div *ngIf="isLoading" style="text-align: center;">
  <app-loading-spinner></app-loading-spinner>
</div>
<div *ngIf="error" class="alert alert-danger">Tuli error: <br><br> {{error}}</div>