<br><br><br>
<p class="middleHeader">Meist</p>
<div class="rectangle"></div>
<br><br>

<div class="grid-container">
    <div class="grid-item1">
        <ul>
            <li>Tegu on toetava lehega ainele “Tarkvaraarenduse projekt” , mis on kohustuslik läbida igal informaatika õpilasel. Aine käigus valib üliõpilane grupi ja teema, millega ta poolaasta vältel tegeleb. Teemad, millega tegeletakse ootame aga Sinult!</li>
            <li>Projektide tegemine algab teisest poolaastast. Projektiga hakatakse kohe ka tegelema ainetes interatsioonidisain ja sissejuhatus infosüsteemidesse. </li>
            <li>Aines interaktsioonidisain tehakse konkuretsianalüüs, testitakse persoonad ja kasutajalood ning tehakse valmis prototüüp. Siin aines on väga tähtis ka kliendi toetus, sest kõike tuleb testida ning tagasisidet anda. </li>
            <li>Aines sissejuhatus infosüsteemidesse tegeletakse infosüsteemi arendamisega. Siin aines ei ole vaja kliendi abi, kuid valmis töö on põhjalik, seega võib olla suureks abiks kliendile. </li>
            <li>Juuni kuus toimub kaks nädalat järjestikust tarkvaraarendust, kus on vaja kliendi tuge tihemini, kuid lõpuks saadakse valmis tarkvaraprojekt, mille saab üle anda. Seega, armas potensiaalne klient, palun kirjuta meile oma huvitavast ideest ning meie anname
            endast parima, et see reaalsusesse viia!</li>
        </ul>
    </div>
    <div class="grid-item2">
        
        
        <mat-faq [faqList]="list"></mat-faq>
    </div>
    
</div>


<br>
<br>

<mat-divider _ngcontent-c1="" class="mat-divider mat-divider-horizontal" role="separator" aria-orientation="horizontal">
</mat-divider>