.aboutUs {
    margin: auto;
    width: 50%;
    border: 1px solid #d6d5d5a9;
    border-radius: 5px 5px 1px 1px;
    padding: 20px; 
    text-align: justify;
}

ul {
    list-style: none; /* Remove default bullets */
}
  
ul li::before {
    content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
    color: #6bcaba; /* Change the color */
    font-weight: bold; /* If you want it to be bold */
    font-size: 24px;
    display: inline-block; /* Needed to add space between the bullet and the text */
    width: 1em; /* Also needed for space (tweak if needed) */
    margin-left: -1em; /* Also needed for space (tweak if needed) */
}