.grid-container {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 25% 25% 25% 25%;
    grid-column-gap: 0px;
}
.grid-item1 {
    grid-column: 1/4;
    grid-row: 1;
    text-align: justify;
    padding-right: 50px;    
}

.grid-item2 {
    grid-column: 3/4;
    grid-row: 1;
}

.box-width {
    min-width: 550px;
}

@media only screen and (max-width: 700px) {
    .grid-item1 { grid-column: 1 / 4; width: 300px; padding-right: 30px;}
    .grid-item2 { grid-row: 2; grid-column: 2 / 4; margin-top: 10%;}
    .box-width { min-width: 700px; margin-left: -100px;}
    .form-group { font-size: small; }
  }