<p class="middleHeader">Kontakt</p>


<p>Küsimused...</p>
<p class="contact">Kontakteeru...</p>
<form (ngSubmit)="onSubmitForm()">
    <div class="form-group">
        <label>Nimi: <span class="requiredRed">*</span></label>
        <input
            ngModel 
            type="text" 
            class="form-control" 
            id="name"
            name="name">    
    </div>
    <div class="form-group">
        <label>Email address: <span class="requiredRed">*</span></label>
        <input 
            type="email" 
            class="form-control" 
            id="email">    
    </div>
    <div class="form-group">
        <label>Telefoninumber: </label>
        <input 
            type="tel" 
            class="form-control" 
            id="email">    
    </div>
    <div class="form-group">
        <label>Teema: <span class="requiredRed">*</span></label>
        <input 
            type="subject" 
            class="form-control" 
            id="subject">    
    </div>
    <div class="form-group">
        <label>Kiri: <span class="requiredRed">*</span></label>
        <textarea 
            type="message" 
            class="form-control" 
            id="message"></textarea>    
    </div>
    <button 
            type="button" 
            [disabled]="false" 
            class="btn btn-dti mt-3">SAADA</button>
</form>
<br>