<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">Tarkvara arenduse praktika</a>
      </div>
      <ul class="nav navbar-nav navbar-right">
        <li class="active"><a (click)="scroll(target)">Kodu</a></li>
        <li><a href="#">Tehtud tööd</a></li>
        <li><a href="#">Meist</a></li>
        <li><a href="#">Kontakt</a></li>
        <li><a href="#">Esita projekt</a></li>
      </ul>
    </div>
  </nav>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <div #target></div>
