<a routerLink="../..">< Tagasi</a>

<div class="text-center-header">Vaatad projekti: </div>
<div class="header-project-name"> {{project.name}} </div>
<div class="row">
  <div class="col-xs-12">
    <div class="list-group-item clearfix" >
      <div>Projektis osalevad inimesed: {{project.students}} </div>
      <div>Projekti Github link: {{project.github}} </div>
      <div>Projekti blogi aadress: {{project.blog}} </div>
      <div>Projekti enda URL aadress: {{project.url}} </div>
      <div>Projekti ülevaataja: {{project.overviewer}} </div>
    </div>
  </div>
</div>