/* .notDeleted {
  border: solid 2px red;
} */

.notDeleted {
  border: solid 2px #75b6ab;
}

.list-group-item {
  display: flex;
  justify-content: space-between;
}

input[type="checkbox"] {
  display: none;
}