.isDeleted {
  border: solid 2px rgb(241, 121, 121);
}

.notDeleted {
  border: solid 2px #75b6ab;
}

.list-group-item {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 33vw;
  margin-left: 33.33%;
}

input[type="checkbox"] {
  display: none;
}